label {
    display: block;
    margin-bottom: 5px;
    color: #f43a3a;
  }
  
  input, textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
  
  button[type="submit"] {
    color: white;
    background-color: rgb(244, 58, 58, 1);
    box-shadow: 0 5px 25px rgba(85, 85, 85, 0.26);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 350;
    
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.7s ease;
  }
  button[type="submit"]:hover {
    background-color: rgba(141, 15, 15, 0.04);
    transform: scale(1.1);
  }
  
#status{
    color: #fc0f0f;
    
}



.Search-Sec{
  overflow-y: scroll;
  max-height: 400px; /* set a maximum height to the container to limit the scrollable area */
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 100%;
  border-radius: 15px;
  width: 100%;
  min-height: 100vh;
  z-index: 998;
  background: url(Images-and-videos/WebBg3.png);
  padding-top: 120px;
  transition: 0.1s ease;
  background-size: 500px;
  
}

.Search-Sec.is-active{
  left: 0%;
}



.Search-Sec a{
  color: white;
  background-color: #f43a3a;
  text-decoration: none;
  font-size: 2em;
  font-weight: 300;
  display: block;
  padding: 12px 16px;
  letter-spacing: 3px;
  border-radius: 15px;
  width: 100%;
  max-width: 200px;
  transition: 0.7s ease;
  text-align: center;
  margin: 0 auto 16px;
  
}

.Search-Sec a:hover{
  background-color: rgb(27, 27, 27);
  transform: scale(1.1);
}
.search-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

input[type=text1] {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 4px 0 0 4px;
  width: 350px;
}

button {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: #f43a3a;
  color: #fff;
  cursor: pointer;
}

.project-card2 {
  background-color: transparent;
  box-shadow: 0 5px 25px rgba(85, 85, 85, 1);
  border: 1px solid rgb(18, 18, 18);
  min-height: 14em;
  width: 23em;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
  transition: 0.7s ease;
  display: block;
}

.project-card2 .more-details{
  text-decoration: none;
  background-color: transparent;
  transition: 0.7s ease;
  padding-right: 10px;
  font-weight: 300;
  font-size: 1em;
  color: #f43a3a;
}
.project-card2 .more-details{
  text-decoration: none;
  background-color: transparent;
  transition: 0.7s ease;
  padding-right: 10px;
  font-weight: 300;
  font-size: 1em;
  color: #f43a3a;
}.project-card2 .more-details:hover{
  scale: 1.1;
  background-color: transparent;
}

.Search-Sec .Go-Back{
  background-color: transparent;
  color: #f43a3a;
  font-size: 1.2em;
}
.Search-Sec .Go-Back:hover{
  background-color: transparent;
  color: #f43a3a;
}

.Search-Sec.is-active::before{
  display: none;
}



.projects-list {
  margin-top: 20px;
  max-height: 400px; /* set a maximum height to the container to limit the scrollable area */
}

#searchSection {
  display: none;
  /* other styles for the search section */
}

body.no-scroll {
  overflow-y: scroll;
}

.Search-Sec {
  position: fixed;
  top: 0;
}


.hidden {
  opacity: 0;
  transition: 0.7s ease;
}

.hiddenb{
  opacity: 0;
  filter: blur(5px);
  transition: 0.7s ease;
}

.slide-left {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: 0.7s ease;
}
.slide-right {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: 0.7s ease;
}
.slide-up {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: 0.7s ease;
}
.slide-down {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-100%);
  transition: 0.7s ease;
}
.backgroundb {
  
  filter: blur(10px);
  
  transition: 0.85s ease;
}
.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0);
  transform: translateY(0);

}